@model ContextMenu.Models.ContextMenuViewModel

@{
    Layout = null;
    var emailname = @Html.Raw(Json.Encode(Model.EmailName));
    var cMenuTemp = Model.HtmlPrefix + "cMenu";
    var cMenu = @Html.Raw(Json.Encode(cMenuTemp));
    var cMenuTemp2 = "#" + cMenuTemp;
    var cMenu2 = @Html.Raw(Json.Encode(cMenuTemp2));
    var spElemTemp = Model.HtmlPrefix + "spElem";
    var spElem = @Html.Raw(Json.Encode(spElemTemp));
    var displayMenuTemp = Model.HtmlPrefix + "displayMenu()";
    var displayMenu = @Html.Raw(Json.Encode(displayMenuTemp));
    var displayMenuFunctionName = Model.HtmlPrefix + "displayMenu";
    var hideMenuTemp = Model.HtmlPrefix + "hideMenu()";
    var hideMenu = @Html.Raw(Json.Encode(hideMenuTemp));
    var hideMenuFunctionName = Model.HtmlPrefix + "hideMenu";
    var searchBingTemp = Model.HtmlPrefix + "searchBing()";
    var searchBing = @Html.Raw(Json.Encode(searchBingTemp));
    var searchBingFunctionName = Model.HtmlPrefix + "searchBing";
    var searchGoogleTemp = Model.HtmlPrefix + "searchGoogle()";
    var searchGoogle = @Html.Raw(Json.Encode(searchGoogleTemp));
    var searchGoogleFunctionName = Model.HtmlPrefix + "searchGoogle";
 }

@if (Model != null)
{
    <span id=@spElem class="detailitem" onmouseover=@displayMenu onmouseout=@hideMenu><u>@Model.EmailName</u></span>
}

<div id=@cMenu hidden="hidden" onmouseover=@displayMenu onmouseout=@hideMenu>
    <table border="1" cellpadding="2" cellspacing="0"
           style="border-style:groove; cursor: default; width: 100px; background-color: white; color: black">
        <tr>
            <td>
                <div id="menuContent" class="contextitem" onclick=@searchBing>Bing.com</div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="menuContent" class="contextitem" onclick=@searchGoogle>Google.com</div>
            </td>
        </tr>
    </table>
</div>

<script>

    function @(displayMenuFunctionName)()
    {
        var element = document.getElementById(@spElem);
        var position = element.getBoundingClientRect();
        var posx = (position.left + 16) + 'px';
        var posy = (position.top + 15) + 'px';

        var cm = document.getElementById(@cMenu);
        cm.style.left = posx;
        cm.style.top = posy;
        cm.style.position = 'absolute';
        cm.style.display = 'inline';
    }

    function @(hideMenuFunctionName)()
    {
        $(@cMenu2).hide();
    }

    function @(searchBingFunctionName)()
    {
        var d = @emailname;
        var t = d.split("@@");
        window.open("http://www.bing.com/search?q=" + t[0] + "%40" + t[1]);
    }

    function @(searchGoogleFunctionName)()
        {
            var d = @emailname;
            var t = d.split("@@");
            window.open("http://www.google.com/search?q=" + t[0] + "%40" + t[1]);
        }
</script>

<style>
    .contextitem
    {
        background-color:White;
        color:Black;
        font-weight:normal;   
    }

    .contextitem:hover
    {
        background-color:#0066FF;
        color:White;
        font-weight:bold;     
        cursor:pointer;       
    }

    .detailitem
    {
        padding: 1px 1px 1px 1px;
    }

    .detailitem:hover
    {
        cursor:pointer;
    }
</style>